@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap);
body {
  font-family: "Inter", sans-serif;
}

.btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.btn.bt-style {
  background-color: #557cd2;
  border-color: #557cd2;
  color: #ffffff;
}
.btn.bt-style:hover {
  background-color: #9a4ab7;
  border-color: #9a4ab7;
}
.btn.bt-outline {
  background-color: transparent;
  color: #5b616b;
  border-color: #5b616b;
}
.btn.bt-outline:hover {
  color: #ffffff;
  background-color: #5b616b;
  border-color: #5b616b;
}

.modal-content .btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.navbar-brand img {
  margin-right: 8px;
}

.steps ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 0 32px 0;
  padding: 0;
}
.steps ul:before {
  content: "";
  position: absolute;
  top: 21px;
  width: 100%;
  height: 1px;
  background-color: #d6d7d9;
  z-index: 1;
}
.steps ul li {
  z-index: 2;
  text-align: center;
}
.steps ul li span {
  display: block;
  font-size: 0.6rem;
  color: #212121;
}
.steps ul li .step {
  width: 42px;
  height: 42px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background-color: #557cd2;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.steps ul li .step:hover {
  background: #9a4ab7;
  transition: 0.3s;
}
.steps ul li .step.done, .steps ul li .step.active {
  background: #9a4ab7;
  pointer-events: none;
}
.steps ul li .step.done {
  color: #5b616b;
  background: #d6d7d9;
  border-color: #d6d7d9;
}

.form-cad-full {
  color: #212121;
  max-width: 380px;
  padding: 15px;
}
.form-cad-full hr {
  border-color: #5b616b;
}
.form-cad-full h1 {
  font-weight: 600;
}

.upload-files {
  width: 100%;
  padding: 15px;
  margin-bottom: 8px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px dashed #557cd2;
  background: #e0eaff;
}

.removeDoc {
  color: #557cd2;
}

.status {
  font-size: 0.6rem;
  padding: 4px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  color: #ffffff;
}
.status.aprovado {
  background: #4aa564;
}
.status.analise {
  background: #f9c642;
}
.status.recusado {
  background: #e31c3d;
}
.status.aguardando {
  background: #5b616b;
}

.icon-svg,
.logo-login {
  width: 140px;
  height: auto;
}

.icon-svg {
  display: block;
  margin: 0 auto;
  fill: #9a4ab7;
}

.checkbox {
  font-size: 0.8rem;
}
.checkbox .showTermos {
  color: #557cd2;
}

.form-floating {
  margin-bottom: 16px;
}

.form-inicial {
  color: #212121;
  max-width: 380px;
  padding: 15px;
}
.form-inicial hr {
  border-color: #5b616b;
}
.form-inicial h1 {
  font-weight: 600;
}
.form-inicial .small {
  color: #5b616b;
}
.form-inicial .small.sm-t {
  font-size: 0.7rem;
  color: #9a4ab7;
}
.form-inicial .btn-link {
  color: #557cd2;
}
.form-inicial .showPass {
  position: absolute;
  right: 18px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
}
.form-inicial .showPass:before {
  content: "\f070";
}
.form-inicial .showPass.show {
  color: #9a4ab7;
}
.form-inicial .showPass.show:before {
  content: "\f06e";
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: #9a4ab7;
}
.breadcrumb a {
  color: #557cd2;
}

.header-interna {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d6d7d9;
  padding-bottom: 0.5rem;
  margin-bottom: 1.2rem;
}
.header-interna .logo-interm img {
  width: 220px;
}

.title-section h3 {
  font-weight: 600;
  font-size: 1.4rem;
}
.title-section.filter {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 1rem;
}
.title-section.filter h3 {
  margin-bottom: 0 !important;
}
.title-section.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}
.title-section.filter ul li a {
  background: #557cd2;
  color: #ffffff;
}

.navAside {
  padding: 0 0 1.5rem 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.navAside li a {
  color: #ffffff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.navAside li a:hover, .navAside li a.active {
  color: #ffffff;
  background: #00569e;
  border-color: #00569e;
}

.navHeader_intern {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}
.navHeader_intern li a {
  color: #557cd2;
}
.navHeader_intern li a:hover {
  color: #9a4ab7;
  border-color: transparent;
}
.navHeader_intern li i {
  font-size: 24px;
}
.navHeader_intern li.user a {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  text-align: right;
}
.navHeader_intern li.user a .nameUser {
  color: #212121;
}
.navHeader_intern li.user a .nameUser:before {
  content: "Bem vindo";
  line-height: 0.2rem;
  font-weight: 200;
  font-size: 0.7rem;
  display: block;
}

.content-center {
  width: 100%;
}

.buscaEasy {
  width: 0rem;
  background: #ffffff;
  border-right: 1px solid #557cd2;
  transition: 0.3s all;
  opacity: 0;
}
.buscaEasy.show {
  width: 28rem;
  transition: 0.3s all;
  opacity: 1;
}
.buscaEasy .btn {
  margin-bottom: 0.5rem;
}
.buscaEasy label {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}
.buscaEasy .title {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 0.9rem;
}
.buscaEasy .title h3 {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0;
}
.buscaEasy p {
  padding: 0.5rem;
}
.buscaEasy p.small {
  font-size: 0.7rem;
}
.buscaEasy .content {
  padding: 0.5rem;
}

.content-jobs {
  display: flex;
  flex-direction: row;
  background: #f5f9fa;
}
.content-jobs .logo-Aside {
  padding: 0.8rem 0 1.5rem;
  text-align: center;
  font-size: 0.7rem;
  color: #ffffff;
}
.content-jobs .asideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 80px;
  padding: 0.5rem;
  background-color: #557cd2;
}
.content-jobs .content-center {
  padding: 0.5rem 0.8rem;
}

.feedJobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
}

.issueTask .nameTask {
  color: #557cd2;
  font-size: 1.2rem;
  font-weight: 600;
}
.issueTask .data-horaFinal {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
}

.cardJob {
  width: 17rem;
}
.cardJob a {
  text-decoration: none;
  color: #212121;
}
.cardJob a:hover {
  color: #557cd2;
}
.cardJob a:hover .titleJob {
  color: #9a4ab7;
}
.cardJob a .thumbJob {
  height: 120px;
  overflow: hidden;
  position: relative;
}
.cardJob a .thumbJob .cat {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.2rem 0.8rem;
  font-size: 0.6rem;
  background: #ffffff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
.cardJob a .thumbJob .val {
  position: absolute;
  padding: 0.2rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  background: #ffffff;
  display: table;
  bottom: 0.5rem;
  right: 0.5rem;
}
.cardJob a .titleJob {
  font-weight: 600;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.cardJob a .descJob {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  height: 4rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jobOpen .titleJob,
.taskOpen .titleJob {
  font-weight: 600;
}
.jobOpen .thumbJob,
.taskOpen .thumbJob {
  height: 190px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.jobOpen .thumbJob .contador,
.taskOpen .thumbJob .contador {
  background: #ffffff;
  padding: 0.2rem 0.6rem;
  text-align: center;
}
.jobOpen .thumbJob .contador span,
.taskOpen .thumbJob .contador span {
  font-weight: 600;
}
.jobOpen .thumbJob .contador span:before,
.taskOpen .thumbJob .contador span:before {
  font-weight: 400;
  content: "Tempo para Entrega";
  display: block;
  font-size: 0.7rem;
}
.jobOpen .thumbJob .sts-time,
.taskOpen .thumbJob .sts-time {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  display: flex;
  gap: 24px;
  align-items: center;
}
.jobOpen .thumbJob .cat,
.taskOpen .thumbJob .cat {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  padding: 0.2rem 0.8rem;
  font-size: 0.6rem;
  background: #ffffff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
.jobOpen .thumbJob .val span,
.taskOpen .thumbJob .val span {
  position: absolute;
  padding: 0.2rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  background: #ffffff;
  display: table;
  bottom: 0.8rem;
  right: 0.8rem;
}
.jobOpen .thumbJob .val .valTask,
.taskOpen .thumbJob .val .valTask {
  width: 130px;
  text-align: right;
}
.jobOpen .thumbJob .val:before,
.taskOpen .thumbJob .val:before {
  position: absolute;
  color: #ffffff;
  bottom: 2.9rem;
  right: 0.8rem;
  font-size: 0.73rem;
  content: "Valor total do projeto";
}
.jobOpen .thumbJob .val.proj,
.taskOpen .thumbJob .val.proj {
  display: flex;
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
  gap: 16px;
}
.jobOpen .thumbJob .val.proj .btVisible,
.jobOpen .thumbJob .val.proj .btEdit,
.taskOpen .thumbJob .val.proj .btVisible,
.taskOpen .thumbJob .val.proj .btEdit {
  color: #ffffff;
  font-size: 1.4rem;
}
.jobOpen .thumbJob .bt_goJob,
.taskOpen .thumbJob .bt_goJob {
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
  background: #557cd2;
  color: #ffffff;
  display: none;
}
.jobOpen .descJob,
.taskOpen .descJob {
  padding: 0.5rem;
}
.jobOpen .descJob p,
.taskOpen .descJob p {
  font-size: 0.8rem;
}
.jobOpen .descJob h4,
.taskOpen .descJob h4 {
  font-size: 0.9rem;
  font-weight: 600;
}
.jobOpen .descJob .deadLine,
.taskOpen .descJob .deadLine {
  font-size: 0.8rem;
  font-weight: 400;
  border-top: 1px solid #d6d7d9;
  padding-top: 0.5rem;
}
.jobOpen .descJob .deadLine .date,
.taskOpen .descJob .deadLine .date {
  font-weight: 600;
}
.jobOpen .descJob .deadLine .date:before,
.taskOpen .descJob .deadLine .date:before {
  content: "Prazo de Entrega:";
  margin-right: 0.3rem;
}

.playerArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.playerArea.colum {
  grid-template-columns: 1fr;
}
.playerArea .player iframe {
  width: 100%;
  min-height: 320px;
  height: auto;
}
.playerArea ul {
  list-style: none;
  margin: 0.5rem 0 0 0;
  padding: 0 0.5rem;
}
.playerArea ul li {
  margin-bottom: 0.2rem;
}
.playerArea ul li a {
  text-align: left;
  padding: 0.5rem 1.2rem;
  width: 100%;
  color: #323a45;
  text-decoration: none;
  font-size: 0.8;
  background-color: rgba(85, 124, 210, 0.4);
}
.playerArea ul li a i {
  font-size: 1.2rem;
  color: #557cd2;
}
.playerArea ul li a.active {
  background-color: #557cd2;
  color: #ffffff;
}
.playerArea ul li a.active i {
  color: #ffffff;
}

.status {
  color: #323a45;
  font-size: 0.7rem;
  padding: 0.2rem 0.8rem;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
.status.finalizada {
  background: #A9C75F;
}
.status.andamento {
  background: #f5dd7d;
}
.status.cancelada {
  color: #ffffff;
  background: #f57d7d;
}

.listJobs.momeJob,
.tasks {
  background-color: rgba(214, 215, 217, 0.4);
  padding: 0.8rem 0.8rem 0.4rem 0.8rem;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.listJobs.momeJob h4,
.tasks h4 {
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #5b616b;
}
.listJobs.momeJob .filterTask,
.tasks .filterTask {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.listJobs.momeJob .filterTask strong,
.tasks .filterTask strong {
  max-width: 200px;
  font-size: 0.8rem;
}
.listJobs.momeJob .filterTask div,
.tasks .filterTask div {
  display: flex;
  gap: 16px;
}
.listJobs.momeJob .filterTask .btn,
.tasks .filterTask .btn {
  font-size: 0.8rem;
}
.listJobs.momeJob .filterTask label,
.tasks .filterTask label {
  font-size: 0.8rem;
}

.feedback {
  text-align: center;
  color: #d6d7d9;
}
.feedback i {
  font-size: 3rem;
}
.feedback h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.taskOpen .footerTask {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d6d7d9;
  padding-top: 0.5rem;
}
.taskOpen .footerTask .bt_goJob {
  background: #557cd2;
  color: #ffffff;
}
.taskOpen .footerTask .deadLine {
  font-size: 0.8rem;
  font-weight: 400;
  border: 0;
  padding: 0;
}
.taskOpen .footerTask .deadLine .date {
  font-weight: 600;
}
.taskOpen .footerTask .deadLine .date:before {
  content: "Prazo de Entrega:";
  margin-right: 0.3rem;
}

.files {
  list-style: none;
  margin: 0;
  padding: 0;
}
.files li {
  display: flex;
  align-items: centeer;
  gap: 10px;
}
.files li a {
  color: #212121;
  font-size: 0.8rem;
}
.files li a i {
  color: #557cd2;
  font-size: 1.2rem;
}

.cardTask {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.5rem;
  background: #ffffff;
  margin-bottom: 0.3rem;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.cardTask .titleTask {
  font-weight: 600;
  color: #557cd2;
}
.cardTask .user {
  width: 100%;
  font-size: 0.8rem;
  padding-top: 0.4rem;
  font-weight: 400;
  text-decoration: none;
  color: #557cd2;
}
.cardTask .user:before {
  font-weight: 600;
  content: "Responsável:";
  margin-right: 0.3rem;
  pointer-events: none;
  color: #323a45;
}
.cardTask .resTask {
  font-size: 0.7rem;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
}
.cardTask .deadLine {
  font-size: 0.8rem;
  padding-bottom: 0.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardTask .deadLine .status {
  padding: 0.2rem 0.8rem;
}
.cardTask .deadLine .date {
  font-weight: 400;
}
.cardTask .deadLine .date:before {
  font-weight: 600;
  content: "Prazo de Entrega:";
  margin-right: 0.3rem;
}
.cardTask .navTask {
  min-width: 120px;
  text-align: center;
}
.cardTask .navTask .val {
  font-weight: 600;
}
.cardTask .navTask .bt_goJob {
  font-size: 0.8rem;
  background: #557cd2;
  color: #ffffff;
  margin: 0.5rem 0;
}
.cardTask.disabled {
  pointer-events: none;
}
.cardTask.disabled .titleTask,
.cardTask.disabled .resTask,
.cardTask.disabled .deadLine,
.cardTask.disabled .navTask {
  color: #d6d7d9;
}
.cardTask.disabled .titleTask a,
.cardTask.disabled .resTask a,
.cardTask.disabled .deadLine a,
.cardTask.disabled .navTask a {
  color: #d6d7d9;
  pointer-events: none;
}

.tableFiles thead {
  background-color: rgba(224, 234, 255, 0.8);
}
.tableFiles tbody a {
  color: #557cd2;
  font-size: 1.2rem;
}

.contentProject p.small {
  font-size: 0.7rem;
}
.contentProject p.small strong {
  color: #557cd2;
}/*# sourceMappingURL=style.css.map */